/* WEBPAGE COLOR */
body {background-color: rgb(248, 247, 246)
}

h1 {font-family:'Times New Roman', Times, serifl;
    color: rgba(12, 55, 134, 0.781);
}

    header nav {float: right;
            
        } 
        header nav ul li {display: inline-block;

        }
