/* WEBPAGE COLOR */
body {background-color: rgb(248, 247, 246)
}

h1, h2 {font-family:'Times New Roman', Times, serifl;
    color: rgba(12, 55, 134, 0.781);
}
header { 
    border: 3px solid black;
            background: url(/assets/images/Red\ Banner.webp) ;
            background-repeat: no-repeat;
            background-size: auto;
        }
    

    header nav { 
        float: right;

    }
    header nav ul li {
    
        display: inline-block;
        padding: 5px;
        }

    #About-Me, #Work {
        margin-top: 50px;
    }
    #About-Me {
        display: flex;
        flex-direction: row;
    }